body {
    font-family: 'Alegreya Sans SC' !important;
    /* background-color: #88304E !important; */
    color: #F6F6F6 !important;
    text-align: center !important;
    background-color: #b3c6e7 !important;
    width: 100%;
    font-weight: 300 !important;
    /* background-color: #F67280 !important; */
    /* background-color: #E23E57 !important; */
    /* background-color: #53354A !important; */
}

.heading {
    font-size: 4rem;
    color: #232b3a;
}

.new-section {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.swipe {
    color: #F6F6F6;
    font-weight: 400;
    display: none;
}

/********************************************************* Navigation Bar ********************************************************/


.navigation-bar {
    background-color: #212529;
}

.navbar {
    padding: 0px 15px 0px 15px;
}

.navbar-toggler {
    border: 1px solid #F6F6F6 !important;
}

.navbar-brand {
    font-size: 1.3rem !important;
    margin-left: 50px;
}

.navbar-collapse {
    margin-left: 46.5% !important;
}

.dropdown-menu {
    margin-bottom: 20px !important;
    background-color: #f0f8ff !important;
}


/***************************************************** Info - Landing Page ******************************************************/


#info {
    background-image: radial-gradient(circle, #131f22 25%, #212529);
    padding-top: 7rem;
    padding-bottom: 6.5rem;
}

.info {
    padding-top: 5%;
}

.quote-heading {
    font-size: 2rem;
    margin-top: 50px;
    letter-spacing: 0.3rem;
}

.start-text {
    font-size: 3rem;
}

.quote-para {
    font-size: 1.5rem;
}

.escr {
    margin-right: 20px;
}

.quote1 {
    opacity: 0;
    transform: translateY(20px);
    animation-name: swipeUp-fadeOut;
    animation-timing-function: ease;
    animation-duration: 4s;
    margin-left: 10px !important;
    margin-right: 10px !important;
    font-weight: 300;
}

.quote2 {
    opacity: 0;
    transform: translateY(-200px) !important;
    animation-name: swipeUp-fadeOut;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-delay: 4s;
    letter-spacing: 0.3rem;
}

.quote3 {
    font-size: 4.5rem !important;
    font-weight: 200 !important;
    transform: translateY(20px);
    animation-name: swipeUp;
    animation-timing-function: ease;
    animation-duration: 10s;
    transform: translateY(-150px);
}

.quote4 {
    font-weight: 300;
    letter-spacing: 0.2rem;
    transform: translateY(20px);
    animation-name: swipeUp;
    animation-timing-function: ease;
    animation-duration: 11s;
    transform: translateY(-150px);
}


.quote5 {
    transform: translateY(-100px);
    color: #ffffff;
    background: linear-gradient(to right, #F6F6F6 0%, #090910 5%, #090910 7%, #F6F6F6 20%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 40%;
}

.quote-5 {
    animation-name: display;
    animation-timing-function: ease;
    animation-duration: 12s;
}

.avatar {
    transform: translateY(-50px);
    object-fit: contain;
    height: 350px;
    background-color: #D9D7F1;
    border-radius: 50%;
}


/********************************************************* About Me Page *********************************************************/


.about {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.about-para {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 0rem;
    text-align: justify;
    color: #090910;
    font-size: 1.5rem;
    line-height: 3.3rem;
    font-weight: 400;
    margin-top: 3.5rem;
    margin-bottom: 6rem;
}

.highlight {
    font-weight: 500;
}

.profileimage {
    border-radius: 7px;
    margin-top: 2rem;
    box-shadow: 2px 10px 10px 5px #5e6777;
}


/******************************************************* My Certificates Page ****************************************************/


.certificates {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 120px;
}

.certificate-row {
    margin-top: 80px;
}

.certificate-images {
    border-radius: 7px;
    width: 300px;
    box-shadow: 1px 1px 10px 0px #747779b7;
}

.certificate-images:hover {
    transform: scale(1.04);
    background-color: #131f22;
    opacity: 0.5 !important;
}


/********************************************************* My Skills Page ********************************************************/

.skills {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 7rem;
}

.skills-row {
    margin-left: 4% !important;
    text-align: center !important;
}

.skills-col {
    margin-top: 80px !important;
}

.skills-col {
    padding-right: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
}

.circle {
    text-align: center !important;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    font-size: 1.15rem;
    font-weight: 400 !important;
}

.circle1 {
    border: 3.5px solid #2acee4 !important;
}

.circle2 {
    border: 3.5px solid #ecc30df3 !important;
}

.circle3 {
    border: 3.5px solid #4abe33e1 !important;
}

.circle4 {
    border: 3.5px solid #dd4a8fe5 !important;
}

.circle1:hover {
    border: 4px solid #2acee4 !important;
    border-style: solid groove solid groove !important;
}

.circle2:hover {
    border: 4px solid #f7f200e1 !important;
    border-style: solid groove solid groove !important;
}

.circle3:hover {
    border: 4px solid #4abe33e1 !important;
    border-style: solid groove solid groove !important;
}

.circle4:hover {
    border: 4px solid #f00c76 !important;
    border-style: solid groove solid groove !important;
}

.skills-name {
    margin-top: 10px;
}


/******************************************************* My Projects Page ******************************************************/


.projects {
    width: 90%;
    color: #1B262C;
    margin-left: 10% !important;
    margin-right: auto !important;
    opacity: 0.9;
    padding-bottom: 5rem;
}

.cards {
    display: flex;
    overflow: auto;
    align-items: stretch !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    scroll-behavior: auto !important;
    padding-bottom: 10px !important;
    padding-left: 5rem;
}


.individual-card {
    background-color: white;
    height: 28rem;
    width: 18rem !important;
    border: #1B262C !important;
    border-radius: 5px 5px 5px 5px !important;
    margin-right: auto !important;
    margin-top: 50px;
}

.individual-card:hover {
    transform: scale(1.04);
}

.cards::-webkit-scrollbar {
    display: none;
}

.cards {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-top {
    border-radius: 5px 5px 0px 0px;
    background-color: #1B262C;
    color: #F6F6F6;
    margin: 0% !important;
    padding: 40px 40px 10px 40px;
}

.card-image {
    border-radius: 5px 5px 5px 5px;
}

.card-title {
    margin-top: 10px;
}

.card-bottom {
    margin-top: 10px;
}

.card-text {
    text-align: justify !important;
    padding: 0px 10px 0px 10px !important;
}


/********************************************************* Footer Section ********************************************************/


.footer {
    width: 100%;
    height: 340px;
    background-image: radial-gradient(circle, #131f22 25%, #212529);
    text-align: center !important;
}

.footer-row {
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 80px !important;
}

.footer-heading {
    font-size: 1.6rem;
    font-weight: 300;
}

.footer-row a {
    font-weight: 300 !important;
    font-size: 1.1rem;
    color: #F6F6F6 !important;
    font-family: 'Courier New', Courier, monospace;
}

.links-icon {
    height: 55px;
}

.links-row {
    margin-top: 15px;
}

.footer-copyright {
    margin-top: 80px;
}

.links-icon:hover {
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 50%;
}


/*********************************************************** Media Query *********************************************************/

@media (max-width:350px) {
    .circle {
        width: 80px !important;
        height: 80px !important;
        font-size: 0.8rem !important;
    }

    .footer {
        height: 530px !important;
    }

    .footer-copyright {
        margin-top: 20px !important;
    }

    .footer-para {
        font-size: 0.9rem !important;
    }

    .links-icon {
        height: 25px !important;
    }

    .swipe {
        display: block;
    }
}

@media (min-width:350px) and (max-width:370px) {
    .circle {
        width: 90px !important;
        height: 90px !important;
        font-size: 0.95rem !important;
    }

    .footer {
        height: 545px !important;
    }

    .footer-copyright {
        margin-top: 20px !important;
    }

    .footer-para {
        font-size: 1.05rem !important;
    }

    .links-icon {
        height: 35px !important;
    }

    .swipe {
        display: block;
    }
}

@media (max-width:500px) {
    .swipe {
        display: block;
    }

    .heading {
        font-size: 2.5rem;
    }

    .navbar-brand {
        font-size: 1.3rem !important;
        margin-left: 0px;
    }

    .navbar-collapse {
        margin-left: 0% !important;
    }

    .projects {
        width: 100%;
        margin-left: 0 !important;
    }

    .cards {
        margin-left: 20px !important;
    }

    .info {
        margin-left: 5%;
    }

    .quote-heading {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }

    .quote-para {
        font-size: 1rem;
        letter-spacing: 2px !important;
    }

    .start-text {
        font-size: 2rem !important;
    }

    .quote1 {
        margin-left: 0px !important;
        margin-right: 0px !important;
        font-weight: 300 !important
    }

    .quote5 {
        transform: translateY(-100px);
        width: 100% !important;
    }

    .avatar {

        transform: translateY(-70px);
        height: 250px !important;
        margin-top: 0px !important;
    }

    .cards {
        padding-left: 0% !important;
    }

    .certificate-row {
        display: flex;
        overflow: hidden;
        align-items: stretch !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        overflow-x: auto !important;
        scroll-behavior: auto !important;
        padding-bottom: 20px;
    }

    .certificate-row::-webkit-scrollbar {
        display: none;
    }

    .certificate-row {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .about {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .profileimage {
        height: 350px;
    }

    .about-para {
        width: 95%;
        margin-top: 3.2rem !important;
        text-align: justify;
        color: #090910;
        font-size: 1.25rem;
        line-height: 1.8rem;
        font-weight: 300;
    }

    .circle {
        width: 100px;
        height: 100px;
    }

    .skills-row {
        margin-top: 0 !important;
        margin-left: -10px !important;
    }

    .skills-col {
        margin-top: 15px !important;
        margin-left: -7px !important;
    }

    .circle img {
        width: 35px !important;
    }

    .skills-name {
        margin-top: 2px !important;
    }

    .footer {
        height: 560px;
    }

    .footer-row {
        padding-top: 0 !important;
    }

    .links-icon {
        height: 40px;
    }

    .links-row {
        width: 80%;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 20px;
    }

    .footer-heading {
        margin-top: 50px;
    }

    .footer-copyright {
        margin-top: 50px;
    }
}


@media (min-width:500px) and (max-width:1000px) {
    .swipe {
        display: block;
    }

    .swipe2 {
        display: none !important;
    }

    .projects {
        width: 100%;
        display: flex !important;
        margin-left: 0 !important;
    }

    .navbar-brand {
        font-size: 1.3rem !important;
        margin-left: 0px;
    }

    .navbar-collapse {
        margin-left: 0% !important;
    }

    .cards {
        display: inline !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .individual-card {
        display: inline-block !important;
        margin-left: auto !important;
        margin-top: 20px;
    }

    .start-text {
        font-size: 2.5rem !important;
    }

    .cards {
        padding-left: 0% !important;
    }

    .certificate-row {
        display: flex;
        overflow: auto;
        align-items: stretch !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        overflow-x: auto !important;
        scroll-behavior: auto !important;
        padding-bottom: 20px;
    }

    .circle {
        width: 100px;
        height: 100px;
    }

    .skills-row {
        margin-top: 0 !important;
    }

    .skills-col {
        margin-top: 15px;
    }

    .circle img {
        width: 35px !important;
    }

    .skills-name {
        margin-top: 2px !important;
    }

    .footer {
        height: 310px;
    }

    .footer-para {
        font-size: 1rem !important;
    }

    .footer-copyright {
        margin-top: 40px;
        font-size: 1rem;
    }

}


/********************************************************* Key Frames ************************************************************/


@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 180px;
    }

    70% {
        background-position: 200px;
    }

    100% {
        background-position: 220px;
    }
}

@keyframes display {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

@keyframes swipeUp-fadeOut {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    20% {
        transform: translateY(0);
        opacity: 1;
    }

    80% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-60px);
        opacity: 0;

    }
}

@keyframes swipeUp {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1 !important;
        transform: translateY(-150px);
    }
}







/* Color Pallete 
Pallete 1
#4cdcc5
#30afbc

Pallete 2
#42495b
#0d82df

pallete 3
#88304E
#FFE2E2

Pallete 4
#88304E
#F6F6F6
*/